python-dotenv==1.1.1
uvicorn[standard]
python-socketio[asgi]
PyJWT==2.10.1
python-engineio==4.12.3
anyio==4.11.0
websockets==15.0.1
httpx==0.28.1
requests==2.32.5
pydantic==2.12.3
pydantic_core==2.41.4
starlette==0.48.0
Jinja2==3.1.6
prometheus_client==0.23.1
prometheus-fastapi-instrumentator==7.1.0
transformers==4.57.1
tokenizers==0.22.1
sentencepiece==0.2.1
regex==2025.9.18
bidict==0.23.1
openai==2.6.0